@import "./bootstrap.min.css";


.nav-txt{
  margin-left: 15px;
  font-size: 1.4rem;
  text-align: center;
}

#editor{
  height: 300px;
}

#qrcode{
  margin-top: 1rem;
  max-width: 100%;
  display: block;
}

#footer{
  margin-top: 2rem;
  box-shadow: 0 0 6px black;
  padding-bottom: 10px;
  padding-top: 13px;
  font-size: 16px;
  height: 52px;
  width: 100%;
  display: block;
  text-align: center;
}

.colpik {
    height: 6rem;
}

nav {
    box-shadow: 0 0 6px black;
}

.hidden{
  display: none!important;
}

.mw-100{
  max-width: 100%;
}
